/* header */
body
{
 margin: auto;
 background-image: url(../images/ciel.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

nav
{
display: flex;
flex-direction: row;
justify-content: flex-end;
opacity: 0.8;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
font-weight: bold;
}

h1
{
    font-size: 30px;
}
a
{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

a:hover
{
background-color: #DED7CB;
}

/* Form */
.formflex
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white;

}

fieldset
{
    width: 20%;
    border: none;
    background-image: url(../images/ciel.jpg);
}


input, select, option
{
    border: none;
    background: none;
    border-radius: 5px;
    background-color: #DED7CB;
    padding: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

}


/* Main-Section */
.studio-container img
{
    max-width: 10%;
}
.studio-container 
{
    display: flex;
    flex-direction: row;

}

